table{
    border-collapse: collapse;
    border: 1px solid black;
    
}
td{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 1px solid black;
    padding: 7px;
    text-align-last:center;
}
.one{
    background-color: rgb(250, 38, 73);
}
.two{
    background-color: rgb(248, 116, 138);
}